<nav class="menu">
<<<<<<< HEAD
    <div class="menu__links">
       <ul class="menu__ul">
            {{!-- <li><a href="/about" class="menu__sub">about</a>
                <ul>
                    <li><a href="/about">about</a></li>
                    <li><a href="/about">about</a></li>
                    <li><a href="/about">about</a></li>
                    <li><a href="/about">about</a></li>
                </ul>
            </li> --}}
            <li><a href="/about">Главная</a></li>
            <li><a href="/about">Новости</a></li>
            <li><a href="/about">О библиотеке</a></li>
            <li><a href="/about">Тифлобиблиографический отдел</a></li>
            <li><a href="/about">Новые поступления</a></li>
            <li><a href="/about">Доступная среда</a></li>
            <li><a href="/about">Из жизни незрячих</a></li>
            <li><a href="/about">Цифровая библиотека</a></li>
            <li><a href="/about">FAQ</a></li>
       </ul>
    </div>
=======
   <ul class="menu__list">
       <li>
           <a href="" class="menu__link">Главная</a>
       </li>
       <li>
           <a href="" class="menu__link">Новости</a>
           <ul class="sub-menu__list">
               <li>
                   <a href="" class="sub-menu__link">Важные новости</a>
                </li>
                <li>
                   <a href="" class="sub-menu__link">Новости</a>
                </li>
                <li>
                   <a href="" class="sub-menu__link">Выставки</a>
                </li>
                <li>
                   <a href="" class="sub-menu__link">Мероприятия</a>
                </li>
           </ul>
       </li>
       <li>
           <a href="" class="menu__link">О библиотеке</a>
           <ul class="sub-menu__list">
               <li>
                   <a href="" class="sub-menu__link">Важные новости</a>
                </li>
                <li>
                   <a href="" class="sub-menu__link">Новости</a>
                </li>
                <li>
                   <a href="" class="sub-menu__link">Выставки</a>
                </li>
                <li>
                   <a href="" class="sub-menu__link">Мероприятия</a>
                </li>
           </ul>
       </li>
   </ul>
>>>>>>> 23d10f1dd97c61ee007c67beb5a72a4d1ecc8238
</nav>