<nav class="menu">
    <div class="menu__links">
       <ul class="menu__ul">
            <li><a href="/about" class="menu__sub">about</a>
                <ul>
                    <li><a href="/about">about</a></li>
                    <li><a href="/about">about</a></li>
                    <li><a href="/about">about</a></li>
                    <li><a href="/about">about</a></li>
                </ul>
            </li>
            <li><a href="/about">about</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/about">about</a></li>
       </ul>
    </div>
</nav>