{{> head}}
<body>
    <div class="container">
        <h1>fqfqwff</h1>
        <img src="http://localhost:3000/public/images/00acc214e5cdab6dc978cde7281bb423.jpg"  alt="123">
        {{{ body }}}
    </div>
</body>
</html>