* {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.head {
  background-color: #d8bebd;
  width: 100%;
  height: 3rem;
}

.head__ul {
  text-align: center;
  vertical-align: middle;
  list-style-type: none;
}

.head__ul li {
  padding: 0.6rem 0.7rem;
  display: inline-block;
}

.head__ul li:hover {
  background-color: #b4959b;
}

.head__ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #41514d;
}

* {
  margin: 0 0;
  padding: 0 0;
}
