* {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.menu li {
  list-style: none;
}

<<<<<<< HEAD
.menu__ul li {
  padding: 0.7rem 0.7rem;
=======
.menu a {
  text-decoration: none;
>>>>>>> 23d10f1dd97c61ee007c67beb5a72a4d1ecc8238
}

.menu__list {
  display: flex;
}

.menu__list > li:hover .sub-menu__list {
  display: block;
}

<<<<<<< HEAD
.menu__ul li a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #41514d;
=======
.sub-menu__list {
  display: none;
  top: 2rem;
  position: absolute;
  padding-top: 2rem 0 0 0;
>>>>>>> 23d10f1dd97c61ee007c67beb5a72a4d1ecc8238
}

.sub-menu__link {
  display: inline-block;
  padding: 5px;
}

*, *:befor, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
